[meta]
    title = "Two cycling tasks, no inter-cycle dependence"
[cylc]
    UTC mode = True
	[[parameters]]
		mos_sub = aerosols, ir, ir_bluemarble
		navgem_sub = 10m_winds, mslp, relvor, sol_rad, wind_waves
[scheduling]
    initial cycle point = 20180709T00
	max active cycle points = 10
    [[special tasks]]
		clock-expire = update<mos_sub>(PT9H), download<navgem_sub>(PT19H)
        clock-trigger = update<mos_sub>(PT8H10M), download<navgem_sub>(PT8H) # These offsets are meant to match the website updates plus epsilon
    [[dependencies]]
		[[[PT1H]]]
			graph = """
				update<mos_sub>[-PT1H]:finish | update<mos_sub>[-PT1H]:expired => update<mos_sub>
			"""
        [[[T00,T12]]]
            graph = """
				finished<navgem_sub>[-PT12H] => download<navgem_sub>
				download<navgem_sub>         => move_old<navgem_sub>
				move_old<navgem_sub>         => rename_new<navgem_sub>
				rename_new<navgem_sub>       => move_new<navgem_sub>

				rename_new<navgem_sub>:failed | move_new<navgem_sub>:failed     => recover_old<navgem_sub>
				move_new<navgem_sub>:succeed  | recover_old<navgem_sub>:succeed => clean<navgem_sub>
				download<navgem_sub>:expired  | download<navgem_sub>:failed | clean<navgem_sub> => finished<navgem_sub>

				download<navgem_sub>:expired | download<navgem_sub>:failed => !move_old<navgem_sub>
				download<navgem_sub>:expired | download<navgem_sub>:failed => !rename_new<navgem_sub>
				download<navgem_sub>:expired | download<navgem_sub>:failed | rename_new<navgem_sub>:failed => !move_new<navgem_sub>
				download<navgem_sub>:expired | download<navgem_sub>:failed | move_new<navgem_sub> => !recover_old<navgem_sub>
				download<navgem_sub>:expired | download<navgem_sub>:failed => !clean<navgem_sub>
			"""
[runtime]
	[[update_model]]
		[[[environment]]]
			processors = 4
			url = https://www.nrlmry.navy.mil/archdat/global/stitched/MoS_2/$CYLC_TASK_PARAM_mos_sub
			NEW_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_mos_sub/.new
			DESTINATION = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_mos_sub
	[[update<mos_sub>]]
		inherit = update_model
        script = """
            scrape.py -p $processors \
			--check_path $DESTINATION \
			--output_path $NEW_DIR \
			$url
		"""
		post-script = """
			mv $NEW_DIR/*.jpg $DESTINATION || true
		"""
	[[replace_model]]
		[[[environment]]]
			NEW_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_navgem_sub/.new
			OLD_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_navgem_sub/.old
			DESTINATION = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_navgem_sub
	[[DOWNLOAD_NAVGEM]]
    [[download<navgem_sub>]]
		inherit = DOWNLOAD_NAVGEM, replace_model
        script = """
            scrape.py -p $processors \
			--replace \
			--output_path $NEW_DIR \
			$url/$CYLC_TASK_PARAM_navgem_sub/latest/ 
		"""
		[[[environment]]]
			url = https://www.nrlmry.navy.mil/archdat/global/stitched/MoS_2/navgem
			processors = 4
		[[[job]]]
			execution retry delays = 18*PT30M
	[[MOVE_OLD_NAVGEM]]
	[[move_old<navgem_sub>]]
		inherit = MOVE_OLD_NAVGEM, replace_model
        script = """
			mkdir -p $OLD_DIR ; \
			mv $DESTINATION/*.jpg $OLD_DIR || true
		"""
	[[RENAME_NEW_NAVGEM]]
	[[rename_new<navgem_sub>]]
		inherit = RENAME_NEW_NAVGEM, replace_model
        script = """
			cd $NEW_DIR
			for file in *_*.jpg; do \
				mv "$file" "${file%%_*}_${file##*_}" ; \
			done
		"""
	[[MOVE_NEW_NAVGEM]]
	[[move_new<navgem_sub>]]
		inherit = MOVE_NEW_NAVGEM, replace_model
        script = """
			mv $NEW_DIR/*.jpg $DESTINATION
		"""
	[[RECOVER_OLD_NAVGEM]]
	[[recover_old<navgem_sub>]]
		inherit = RECOVER_OLD_NAVGEM, replace_model
        script = """
			mv  $OLD_DIR/*.jpg $DESTINATION
		"""
	[[CLEAN_NAVGEM]]
	[[clean<navgem_sub>]]
		inherit = CLEAN_NAVGEM, replace_model
        script = """
			if [[ -d $OLD_DIR ]]; then  \
				rm $OLD_DIR/*.jpg || true ; \
				rmdir $OLD_DIR ; \
			fi
			if [[ -d $NEW_DIR ]]; then  \
				rm $NEW_DIR/*.jpg || true; \
				rmdir $NEW_DIR ; \
			fi
		"""
	[[FINISHED_NAVGEM]]
	[[finished<navgem_sub>]]
		inherit = FINISHED_NAVGEM, replace_model