[meta]
    title = "Download nrl images"
[cylc]
    UTC mode = True
	[[parameters]]
		mos_sub = aerosols, ir, ir_bluemarble
        replace = polar_pair, polar_streams, 10m_winds, mslp, relvor, sol_rad, wind_waves
		navgem_latest = 10m_winds, mslp, relvor, sol_rad, wind_waves
        10m_zip = polar_pair, polar_streams

[scheduling]
    initial cycle point = 20180709T00
	max active cycle points = 10
    [[special tasks]]
		clock-expire = update<mos_sub>(PT9H), download<replace>(PT19H)
        clock-trigger = update<mos_sub>(PT8H10M), download<replace>(PT8H) # These offsets are meant to match the website updates plus epsilon
    [[dependencies]]
		[[[PT1H]]]
			graph = """
				update<mos_sub>[-PT1H]:finish | update<mos_sub>[-PT1H]:expired => update<mos_sub>
			"""
		[[[T00,T12]]]
			graph = """ 
				finished<replace>[-PT12H] => download<replace>
                download<replace>         => move_old<replace>
				move_old<replace>         => rename_new<replace>
				rename_new<replace>       => move_new<replace>

				rename_new<replace>:failed | move_new<replace>:failed     => recover_old<replace>
				move_new<replace>:succeed  | recover_old<replace>:succeed => clean<replace>
				download<replace>:expired  | download<replace>:failed | clean<replace> => finished<replace>

				download<replace>:expired | download<replace>:failed => !move_old<replace>
				download<replace>:expired | download<replace>:failed => !rename_new<replace>
				download<replace>:expired | download<replace>:failed | rename_new<replace>:failed => !move_new<replace>
				download<replace>:expired | download<replace>:failed | move_new<replace> => !recover_old<replace>
				download<replace>:expired | download<replace>:failed => !clean<replace>
			"""
[runtime]
	[[update_mos]]
		[[[environment]]]
			processors = 4
			url = https://www.nrlmry.navy.mil/archdat/global/stitched/MoS_2/$CYLC_TASK_PARAM_mos_sub
			NEW_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_mos_sub/.new
			DESTINATION = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_mos_sub
	[[update<mos_sub>]]
		inherit = update_mos
		script = """
			scrape.py -p $processors \
			--check_path $DESTINATION \
			--output_path $NEW_DIR \
			$url
		"""
		post-script = """
			mv $NEW_DIR/*.jpg $DESTINATION || true
		"""

	[[replace_navgem]]
		[[[job]]]
			execution retry delays = 12*PT30M
    [[DOWNLOAD_NAVGEM]]
	[[download<navgem_latest>]]
		inherit = DOWNLOAD_NAVGEM, replace_navgem
        	script = """
            	scrape.py -p $processors \
			    --replace \
			    --output_path $NEW_DIR \
			    $url/$CYLC_TASK_PARAM_navgem_latest/latest/ 
		    """
		[[[environment]]]
			url = https://www.nrlmry.navy.mil/archdat/global/stitched/MoS_2/navgem
			processors = 4
			NEW_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_navgem_latest/.new
			OLD_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_navgem_latest/.old
			DESTINATION = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_navgem_latest

    [[download<10m_zip>]]
        inherit = DOWNLOAD_NAVGEM, replace_navgem
        pre-script = """
            mkdir -p $NEW_DIR
        """
        script = """
            unzip.py \
            -o $NEW_DIR \
            $url
        """
        [[[environment]]]
            url = https://www.nrlmry.navy.mil/archdat/global/stitched/MoS_2/navgem/10m_winds/$CYLC_TASK_PARAM_10m_zip.zip
			NEW_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_10m_zip/.new
			OLD_DIR = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_10m_zip/.old
			DESTINATION = $CYLC_SUITE_DEF_PATH/$CYLC_TASK_PARAM_10m_zip


	[[MOVE_OLD_NAVGEM]]
	[[move_old<replace>]]
		inherit = MOVE_OLD_NAVGEM, replace_navgem
        	script = """
			mkdir -p $OLD_DIR ; \
			mv $DESTINATION/*.jpg $OLD_DIR || true
		"""
	[[RENAME_NEW_NAVGEM]]
	[[rename_new<replace>]]
		inherit = RENAME_NEW_NAVGEM, replace_navgem
        	script = """
			cd $NEW_DIR
			for file in *_*.jpg; do \
				mv "$file" "${file%%_*}_${file##*_}" ; \
			done
		"""
	[[MOVE_NEW_NAVGEM]]
	[[move_new<replace>]]
		inherit = MOVE_NEW_NAVGEM, replace_navgem
        	script = """
			mv $NEW_DIR/*.jpg $DESTINATION
		"""
	[[RECOVER_OLD_NAVGEM]]
	[[recover_old<replace>]]
		inherit = RECOVER_OLD_NAVGEM, replace_navgem
        	script = """
			mv  $OLD_DIR/*.jpg $DESTINATION
		"""
	[[CLEAN_NAVGEM]]
	[[clean<replace>]]
		inherit = CLEAN_NAVGEM, replace_navgem
        	script = """
			if [[ -d $OLD_DIR ]]; then  \
				rm $OLD_DIR/*.jpg || true ; \
				rmdir $OLD_DIR ; \
			fi
			if [[ -d $NEW_DIR ]]; then  \
				rm $NEW_DIR/*.jpg || true; \
				rmdir $NEW_DIR ; \
			fi
		"""
	[[FINISHED_NAVGEM]]
	[[finished<replace>]]
		inherit = FINISHED_NAVGEM, replace_navgem
